@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-bg: #0E1A33;
  --brand-bg-2: #18264b;
  --brand-accent: #2563EB;
}

body {
  
  color: white;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
.fade-transition {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.8s forwards ease-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

